:root {
    --main-color: #257CFF;
    --dark-main-color: #263CFE;
    --background-color: #FFFF;
    --off-black: #16100d;
    --off-white: #D9D9D9;
    --default-font-family: 'Noto Sans', sans-serif;
}


nav {
    .nav-desktop {
        .nav-content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 0 2rem;
            height: 5rem;
            background-color: var(--background-color);
            .nav-left {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                a {
                    margin-left: 10rem;
                }
            }

            .nav-right {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                ul {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    #join-now {
                        margin-right: 10rem;
                        margin-left: 10rem;
                        a {
                            text-decoration: none;
                            color: white;
                            background: #257CFF;
                            padding: 0.8rem 1.5rem;
                            border-radius: 9rem;
                            font-size: 1.2rem;
                            font-weight: 400;
                            transition: 0.1s ease;
                            &:hover {
                                color: var(--off-black);
                            }
                    }
                    }
                    li {
                        margin: 0 0.1rem;
                        a {
                            text-decoration: none;
                            color: #16100d;
                            font-size: 1.2rem;
                            font-weight: 500;
                            transition: 0.1s ease;
                            &:hover {
                                color: var(--off-black);
                            }
                        }
                    }
                }
            }

        }
    }
}


header {
    user-select: none;
    background-image: url(/images/svg/blob\ \(1\)\ 1.svg);
    background-repeat: no-repeat;
    background-position: 150% 10%;
    background-size: 70%;
    .hero {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background: rgba(37, 46, 255, 0.05);
        .hero-content-left {
            padding: 134px 0 90px 90px;
            max-width: 800px;
            .hero-title {
                font-weight: 700px;
                font-size: 85px;
                line-height: 100px;
            }
    
            .hero-text {
                color: rgba(22, 16, 13, 0.5);
            }
            .join-now {
                position: relative;
                top: 10px;
                a {
                    text-decoration: none;
                    color: white;
                    background: #257CFF;
                    padding: 0.8rem 1.5rem;
                    border-radius: 9rem;
                    font-size: 1.2rem;
                    font-weight: 400;
                    transition: 0.1s ease;
                    &:hover {
                        color: var(--off-black);
                    }
                }
            }
        }
    
        .hero-content-right {
            padding: 100px;
            .members {
                cursor: pointer;
                display: flex;
                margin-top: 300px;
                border-radius: 10px;
                justify-content: center;
                align-items: center;
                max-width: 222px;
                background: rgba(255, 255, 255, 0.85);
                backdrop-filter: blur(10px);
                transition: 0.5s ease;
                &:hover {
                    background: rgba(255, 255, 255, 0.95);
                    backdrop-filter: blur(20px);
                }
            }

            .rating {
                cursor: pointer;
                display: grid;
                grid-template-columns: 3rem 10rem;
                left: 10%;
                border-radius: 10px;
                justify-content: center;
                align-items: center;
                max-width: 222px;
                padding: 10px;
                background: rgba(255, 255, 255, 0.85);
                backdrop-filter: blur(10px);
                margin-left: 400px;
                margin-top: 100px;
                transition: 0.5s ease;
                svg {
                    margin-left: 5px;
                }

                .text {
                    margin-left: 10px;
                    display: flex;
                    flex-direction: column;
                    h4 {
                        line-height: 22px;
                        font-weight: 700;
                        font-size: 16px;
                    }
                    p {
                        line-height: 10px;
                    }
                }
                &:hover {
                    background: rgba(255, 255, 255, 0.95);
                    backdrop-filter: blur(20px);
                }
            }
        }
    }
    
}

.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 150px 15vh;
    
    .about-left {
        .image {
        
            img {
                border-radius: 20px;
                user-select: none;
                -webkit-user-drag: none;
            }
        }
        .find-out {
            user-select: none;
            cursor: pointer;
            display: grid;
            position: relative;
            grid-template-columns: 3rem 10rem;
            left: 600px;
            margin-top: -30px;
            border-radius: 10px;
            justify-content: center;
            align-items: center;
            max-width: 222px;
            padding: 10px;
            background: rgba(255, 255, 255, 0.85);
            border: 1px solid rgba(205, 205, 205, 0.21);
            backdrop-filter: blur(10px);
            transition: 0.5s ease;
            
            svg {
                margin-left: 5px;
            }
    
            .text {
                margin-left: 10px;
                display: flex;
                flex-direction: column;
                h4 {
                    line-height: 22px;
                    font-weight: 700;
                    font-size: 16px;
                }
                p {
                    line-height: 10px;
                }
            }
    
            &:hover {
                background: rgba(255, 255, 255, 0.95);
                border: 1px solid rgba(205, 205, 205, 0.41);
                backdrop-filter: blur(20px);
            }
        }
    }

    .about-right {
        h1 {
            font-weight: 900;
        }
        .guarantees {
            display: grid;
            grid-template-columns: 9rem 10rem;

            .rating {
                display: grid;
                grid-template-columns: 2rem 10rem;
                font-weight: 700;
                font-size: 16px;
                
            }
            .free-join {
                display: grid;
                grid-template-columns: 2rem 10rem;
                font-weight: 700;
                font-size: 16px;
            }
        }
        .join-now {
            position: relative;
            top: 10px;
            a {
                text-decoration: none;
                color: white;
                background: #257CFF;
                padding: 0.8rem 1.5rem;
                border-radius: 9rem;
                font-size: 1.2rem;
                font-weight: 400;
                transition: 0.1s ease;
                &:hover {
                    color: var(--off-black);
                }
            }
        }
    }
    
}

.news-feed-desktop {
    padding: 0 15vh;
    .header {
        position: relative;
        justify-content: center;
        justify-items: center;
        align-items: center;
        text-align: center;
        h1 {
            font-weight: 900;
        }
        p {
            color: rgba(22, 16, 13, 0.5);
        }
    }

    .feed {
        display: grid;
        gap: 21px;
        grid-template-columns: 1fr 1fr 1fr;
        position: relative;
        justify-content: center;
        justify-items: center;
        margin: 0 auto;
        .article {
            
            display: grid;
            position: relative;
            align-items: center;
            justify-items: center;
            justify-content: center;
            background: #FFFFFF;
            box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.04), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185);
            border-radius: 20px;
            max-height: 650px;
            max-width: 400px;
            .image {
                
                margin: 20px 20px 15px;
                position: relative;
                justify-content: center;
                align-items: center;
                img {
                    border-radius: 20px;
                    user-select: none;
                    -webkit-user-drag: none;
                    width: 360px;
                    padding-bottom: 0;
                }
            }
            .text {
                position: relative;
                justify-content: center;
                align-items: center;
                margin: 0 auto;
                max-width: 349px;
                h1 {
                    font-weight: 900;
                }
                p {
                    color: rgba(22, 16, 13, 0.5);
                    margin: 0;
                    padding-bottom: 0px;
                }
                .top-p {
                    padding-bottom: 10px;
                    color: var(--main-color);
                }
            }

            .button {
                position: relative;
                max-width: 180px;
                text-align: center;
                left: 25%;
                background: var(--main-color);
                border-radius: 9rem;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 10px 20px;
                gap: 10px;
                margin-bottom: 20px;
                margin-top: 1rem;
                a {
                    color: white;
                    text-decoration: none;
                    letter-spacing: 0.2px;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 24px;
                    transition: 0.5s ease;
                    &:hover {
                        color: var(--off-black);
                    }
                }
            }
        }
    }
}


.testimonials {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    position: relative;
    margin: 150px;

    .left {
        max-width: 400px;
        max-height: 600px;
        background: white;
        box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.04), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185);
        border-radius: 20px;
        .contents {
            .stars {
                user-select: none;
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                gap: 3.57px;
                position: relative;
                justify-content: center;
                margin: 30px 80px;
                .star {
                    fill: var(--main-color);
                    width: 35.7px;
                    height: 35.7px;
                }
            }

            .text {
                justify-content: center;
                text-align: center;
                .top-p {
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 32px;
                    color: rgba(22, 16, 13, 0.5);
                    margin: 0 30px;
                    
                }

                h3 {
                    margin-top: 30px;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 36px;
                }

                .location {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;

                    color: rgba(22, 16, 13, 0.5);
                }
            }

            .image {
                display: flex;
                justify-content: center;
                margin: 20px 0 30px;
                .face {
                    background-image: url(/images/DBS_Tamara.jpg);
                    background-size: 75px 75px;
                    border-radius: 50px;
                }
            }
        }
    }

    .right {
        .contents {
            .text {
                h1 {
                    font-weight: 900;
                    font-size: 40px;
                    line-height: 60px;
                }

                .testimonial {
                    display: none;
                    transition: 0.5s ease;
                }
                

            }

            .buttons {
                a {
                    text-decoration: none;
                    &:hover .arrow-button {
                        fill-opacity: 1;
                    }
                }
                user-select: none;
                .arrow-button {
                    cursor: pointer;
                    fill-opacity:0.7;
                    
                    transition: 0.5s ease;
                }
            }
        }
    }
}

footer {
    background: rgba(37, 46, 255, 0.05);
    padding: 30px 0 0;
    position: relative;
    .top {
        display: grid;
        grid-template-columns: 1fr 2fr;
        // perfectly center grid items
        .footer-left {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0 0 50px 15%;
            .footer-logo {
                margin: 0;
                padding: 0;
                img {
                    width: 100px;
                }
            }
            .footer-text {
                margin: 0;
                padding: 0;
                max-width: 300px;
                p {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    color: rgba(22, 16, 13, 0.5);
                }
            }
            .social-media {
                user-select: none;
                display: flex;
                flex-direction: row;
                gap: 20px;
                margin: 0;
                padding: 0;
                .social-media-icon {
                    width: 48px;
                    height: 48px;
                    padding: 0.35em 1em;
                    display: flex;
                    text-decoration: none;
                    fill: rgba(22, 16, 13, 0.5);
                    transition: 0.5s ease;
                    color: white;
                    background: var(--main-color);
                    border-radius: 50%;
                    justify-content: center;

                    .icon {
                        font-size: 23px;
                    }

                    &:hover {
                        background: var(--dark-main-color);
                    }
                }
            }
        }

        .footer-right {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            margin: 0 15% 50px 0;
        }
    }
    .seperator {
        display: flex;
        justify-content: center;
    }

    .bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        letter-spacing: 0.2px;
        p {
            margin: 0;
            padding: 0;
        }
    }
}

